.index {
  text-align: center;
}

#home {

}


.label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none; 
  
}

.App-link {
  color: #61dafb;
}

.li{
  border: solid 5px rgb(88, 170, 218);
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: rgb(187, 56, 56);
}

.show{
  background-color: #9cbfe2
}

.crr {
  text-align: center;
}

.create{
  background-color: #d2f5f8;
  padding: 10px;
  margin: 10%;
}

.edit{
  background-color: #e1e5c2;
  padding: 10px;
  margin: 10%;
}